* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    font-family: sans-serif;
}
h2 {
    font-size: 2rem;
    font-weight: 300;
}
a, a:visited {
    color: black;
    text-decoration: none;
}
p{
    line-height: 36px;
    margin: 25px 0;
}
.button {
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 50px;
    padding: 13px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font: 700 0.75rem "Source Sans Pro";
    transition: 0.3s;
}
.button:hover,
footer a:hover {
    border: 1px solid skyblue;
    color: skyblue;
}
header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(242, 240, 240);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
.img-banner {
    width: 100%;
    background: url(./assets/img/banner.jpg) right/cover;
}

.section-1 {
    display: flex;
}
.img-1 {
    background: url(./assets/img/img-left.jpg) center/cover;
    width: 70%;
    min-height: 400px;
}
.section-2 {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 400px;
}
.img-2 {
    background: url(./assets/img/img-right.jpg) center/cover; 
}
section {
    border-bottom: 1px solid rgb(242, 240, 240);
}

.contact {
    text-align: center;
    padding: 60px 0;
}
.form-grid {
    width: 85%;
    margin: 30px auto;
    max-width: 700px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 224px;
    grid-template-areas: "input1 input2" "textarea textarea";
    gap: 10px;
}
.textarea {
    grid-area: textarea;
}
label {
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
input[type="text"], textarea {
    width: 100%;
    margin: 20px 0 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    transition: 0.3s;
}
input[type="text"]:focus,
textarea:focus {
    border: 2px solid skyblue;
}
textarea {
    resize: none;
    height: 180px;
}
footer {
    padding: 60px 250px;
}
ul {
    display: flex;
    justify-content: space-around; 
}
i {
    border: 1px solid rgb(225, 221, 221);
    padding: 10px;
    border-radius: 50%;
}
li > a:hover {
    color: skyblue;
    border: none;
}

@media  screen and (max-width: 658px) {
    header,
    .section-1,
    .section-2 {
        display: block;
    }
    .img-2 {
        display: none;
    }
    .img-1 {
        display: none;
    }
    header {
        height: auto;
    }
    header .img-banner {
        height: 50vh;
        margin-top: 30px;
    }
    .container {
        padding: 15px;
    }

    footer a {
        width: 30px;
        height: 30px;
    }
    footer i {
        font-size: 0.7rem;
        margin: 10px;
    }
    
}